<div class="d-flex flex-column rounded-5 bg-light py-3 px-4 position-relative">
  <h3 class="fs-3 text-secondary mb-0"><b>Completa tus datos</b></h3>
  <img class="img-fluid w-50 mb-3" src="assets/images/svg/form_underline.svg">
  <form class="row" [formGroup]="registerForm">
    <div class="col-12 col-lg-6 mb-3">
      <label class="custom-text-color"><b>Nombre <span class="text-secondary">*</span></b></label>
      <input class="form-control mt-1" placeholder="Ingrese sus nombres" formControlName="names" [ngClass]="{'border-danger': registerForm.get('names')?.invalid && registerForm.get('names')?.touched}">
    </div>
    <div class="col-12 col-lg-6 mb-3">
      <label class="custom-text-color"><b>Apellidos <span class="text-secondary">*</span></b></label>
      <input class="form-control mt-1" placeholder="Ingrese sus apellidos" formControlName="lastnames" [ngClass]="{'border-danger': registerForm.get('lastnames')?.invalid && registerForm.get('lastnames')?.touched}">
    </div>
    <div class="col-12 col-lg-6 mb-3">
      <label class="custom-text-color"><b>Teléfono celular <span class="text-secondary">*</span></b></label>
      <input class="form-control mt-1" placeholder="Ingrese su número telefonico" formControlName="phone" [ngClass]="{'border-danger': registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched}">
    </div>
    <div class="col-12 col-lg-6 mb-3">
      <label class="custom-text-color"><b>Correo electrónico <span class="text-secondary">*</span></b></label>
      <input class="form-control mt-1" placeholder="Ingrese su correo electrónico" formControlName="email" [ngClass]="{'border-danger': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}">
    </div>
    <div class="col-12 col-lg-6 mb-3">
      <label class="custom-text-color"><b>Tus favoritos</b></label>
      <ng-multiselect-dropdown
        [placeholder]="'Seleccione sus favoritos'"
        [settings]="dropdownSettings"
        [data]="favoriteList"
        formControlName="favorites"
        [ngClass]="{'border-danger': registerForm.get('favorites')?.invalid && registerForm.get('favorites')?.touched}"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="col-12 col-lg-6 mb-3">
      <ngx-recaptcha2
        [siteKey]="'6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI'"
        [useGlobalDomain]="false"
        [size]="'compact'"
        class="mx-auto"
        formControlName="recaptcha"
      >
      </ngx-recaptcha2>
    </div>
    <div class="col-12 mb-2 d-flex">
      <input class="form-check-input me-2" type="checkbox" formControlName="terms" [ngClass]="{'border-danger': registerForm.get('terms')?.invalid && registerForm.get('terms')?.touched}">
      <label class="form-check-label">
        Acepto los <span class="text-primary"><b>Términos y políticas de privacidad</b></span>
      </label>
    </div>
    <div class="col-12 mb-2 d-flex">
      <input class="form-check-input me-2" type="checkbox" formControlName="dataUse" [ngClass]="{'border-danger': registerForm.get('dataUse')?.invalid && registerForm.get('dataUse')?.touched}">
      <label class="form-check-label">
        Acepto los <span class="text-primary"><b>Uso de datos personales</b></span>
      </label>
    </div>
    <div class="col-12 d-flex justify-content-center align-content-center mb-4 mt-3">
      <button class="btn btn-primary px-5 py-3" [disabled]="registerForm.invalid"><b>Registrarme</b></button>
    </div>
    <div class="col-12">
      <p class="fs-6 text-center px-1 custom-text-color mb-0">Aprovecha las mejores ofertas y descuentos en pollo, pavo, cerdo, congelados, embutidos <span class="text-secondary"><b>y mucho más.</b></span> No te pierdas de nada estos Cyberdays registrándote y obteniendo grandes descuentos exclusivos.</p>
    </div>
  </form>
  <img class="img-fluid position-absolute custom-position" src="assets/images/png/stamp.png">
</div>
