<div class="d-flex flex-column rounded-5 bg-light py-3 px-4 position-relative">
  <h3 class="fs-3 text-secondary mb-0"><b>Completa tus datos</b></h3>
  <img class="img-fluid w-50 mb-3" src="assets/images/svg/form_underline.svg">
  <form class="row">
    <div class="col-6 mb-3">
      <label class="custom-text-color"><b>Nombre <span class="text-secondary">*</span></b></label>
      <input class="form-control mt-1" placeholder="Ingrese sus nombres">
    </div>
    <div class="col-6 mb-3">
      <label class="custom-text-color"><b>Apellidos <span class="text-secondary">*</span></b></label>
      <input class="form-control mt-1" placeholder="Ingrese sus apellidos">
    </div>
    <div class="col-6 mb-3">
      <label class="custom-text-color"><b>Teléfono celular <span class="text-secondary">*</span></b></label>
      <input class="form-control mt-1" placeholder="Ingrese su número telefonico">
    </div>
    <div class="col-6 mb-3">
      <label class="custom-text-color"><b>Correo electrónico <span class="text-secondary">*</span></b></label>
      <input class="form-control mt-1" placeholder="Ingrese su correo electrónico">
    </div>
    <div class="col-6 mb-3">
      <label class="custom-text-color"><b>Tus favoritos</b></label>
      <ng-multiselect-dropdown
        [placeholder]="'Seleccione sus favoritos'"
        [settings]="dropdownSettings"
        [data]="favoriteList"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="col-6 mb-3">
      <ngx-recaptcha2
        [siteKey]="'6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI'"
        [useGlobalDomain]="false"
        [size]="'compact'"
      >
      </ngx-recaptcha2>
    </div>
    <div class="col-12 mb-2">
      <input class="form-check-input me-2" type="checkbox">
      <label class="form-check-label">
        Acepto los <span class="text-primary"><b>Términos y políticas de privacidad</b></span>
      </label>
    </div>
    <div class="col-12 mb-2">
      <input class="form-check-input me-2" type="checkbox">
      <label class="form-check-label">
        Acepto los <span class="text-primary"><b>Uso de datos personales</b></span>
      </label>
    </div>
    <div class="col-12 d-flex justify-content-center align-content-center mb-4">
      <button class="btn btn-primary px-5 py-3"><b>Registrarme</b></button>
    </div>
    <div class="col-12">
      <p class="fs-6 text-center px-1 custom-text-color mb-0">Aprovecha las mejores ofertas y descuentos en pollo, pavo, cerdo, congelados, embutidos <span class="text-secondary"><b>y mucho más.</b></span> No te pierdas de nada estos Cyberdays registrándote y obteniendo grandes descuentos exclusivos.</p>
    </div>
  </form>
  <img class="img-fluid position-absolute custom-position" src="assets/images/png/stamp.png">
</div>
