<section class="row">
  <div class="col-12 bg-primary position-relative">
    <div class="container d-flex justify-content-start align-items-center flex-column mb-5">
      <div class="row w-100 justify-content-start align-content-center mt-5 mb-5">
        <div class="col-11 col-lg-5">
          <div class="d-flex gap-2">
            <img class="img-fluid custom-size me-2" src="assets/images/png/separator-duotone.png"> <p class="fs-2 text-light">ES HORA DE</p>
          </div>
          <h1 class="custom-title-fs-1 text-light ff-title"><b>CYBER DAYS</b></h1>
          <h2 class="custom-title-fs-2 text-light ff-title"><b>EN <span class="custom-title-fs-3 custom-underline">Más uno</span></b></h2>
          <h2 class="custom-date-fs text-light fw-normal ff-title py-5 mt-4">Del <b>28</b> al <b>30</b> de marzo</h2>
          <div class="d-flex justify-content-center align-items-center w-auto p-3 bg-light">
            <div class="d-flex flex-column w-100 custom-border-style p-2 position-relative">
              <h2 class="text-info text-center mt-2 mb-0">Regístrate y obtén</h2>
              <img class="img-fluid w-50 mx-auto" src="assets/images/svg/title_underline.svg">
              <div class="row justify-content-center align-items-center">
                <div class="col-7">
                  <h1 class="text-info custom-discount-fs text-center custom-shadow"><b>10%</b></h1>
                </div>
                <div class="col-5">
                  <p class="fs-4 text-primary mb-1 lh-sm">En tu primera<br>compra de</p>
                  <p class="fs-4 text-info"><strong>CYBER DAYS</strong></p>
                </div>
              </div>
              <p class="fs-6 text-primary lh-1 text-center px-3">Aplicamos el descuento mediante un código que se te eviará a tu correo registrado.</p>
              <p class="fs-6 text-primary lh-1 text-center">Cupón válido del 28 al 30 de marzo.</p>
              <p class="fs-6 text-primary lh-1 text-center">*Aplican términos y condiciones</p>
              <img class="position-absolute custom-position bg-light" src="assets/images/svg/scissors.svg">
            </div>
          </div>
        </div>
        <div class="col-11 col-lg"></div>
        <div class="col-11 col-lg-6 justify-content-start align-content-center">
          <app-register-form></app-register-form>
        </div>
      </div>
    </div>
  </div>
</section>
