<section class="container row mx-auto">
  <div class="col-12">
    <app-separator></app-separator>
  </div>
  <div class="col-12 mb-3">
    <img class="d-block img-fluid mx-auto" src="assets/images/png/logo_alt.png">
  </div>
  <div class="col-12 mb-3">
    <app-title [titleText]="'Las mejores tecnologías en Más uno'"></app-title>
  </div>
  <div class="col-12 mb-3">
    <p class="text-dark fs-5 text-center">Para adquirir nuestro descuento especial por <span class="text-secondary"><b>Cyber Days</b></span> sigue los siguientes pasos</p>
  </div>
</section>
