<section class="container row mx-auto">
  <div class="col-12">
    <app-separator></app-separator>
  </div>
  <div class="col-12 mb-3">
    <img class="d-block custom-size mx-auto" src="assets/images/png/logo_alt.png">
  </div>
  <div class="col-12 mb-3">
    <app-title [titleText]="'Las mejores tecnologías en Más uno'"></app-title>
  </div>
  <div class="col-12 mb-0 position-relative">
    <div class="position-absolute top-0 start-0 custom-translate-positive z-1 h-100 d-flex justify-content-center align-items-center cursor-pointer" (click)="prev()" *ngIf="showLeftArrow">
      <img src="assets/images/svg/arrow_gray.svg">
    </div>
    <owl-carousel-o [options]="carouselOptions" (translated)="onCarouselTranslated($event)" #carousel>
      <ng-container *ngFor="let category of categoryList; let i = index">
        <ng-template carouselSlide>
          <app-category-slide [title]="category.title" [buttonLabel]="category.buttonLabel" [content]="category.content" [backgroundImage]="category.backgroundImage" [link]="category.link" [maxDots]="categoryList.length" [dotPosition]="i"></app-category-slide>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    <div class="position-absolute top-0 end-0 custom-translate-negative z-1 h-100 d-flex justify-content-center align-items-center custom-background px-2 cursor-pointer" (click)="next()" *ngIf="showRightArrow">
      <img src="assets/images/svg/arrow_white.svg">
    </div>
  </div>
</section>
