/* You can add global styles to this file, and also import other style files */
$primary: #1A36A8;
$secondary: #C12A21;
$info: #DB0FA8;
$dark: #78746f;
$light: #FFFFFF;
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

* {
  font-family: "Helvetica", serif;
  font-optical-sizing: auto;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--bs-light);
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.ff-title {
  font-family: "Futura Std Medium", serif;
  font-optical-sizing: auto;
}

button:focus, input:focus {
  box-shadow: none !important;
  outline: none !important;
}
