/* You can add global styles to this file, and also import other style files */
$primary: #1A36A8;
$secondary: #C12A21;
$info: #DB0FA8;
$dark: #2E2E2E;
$light: #FFFFFF;
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
